name: Main workflow

on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 5

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    env:
      MISE_USE_VERSIONS_HOST: 0

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          cache: false
      - run: mkdir -p ~/.local/share/mise/plugins
      - run: ln -s $PWD ~/.local/share/mise/plugins/yarn
      
      # Test Yarn v1 (Classic)
      - name: Test Yarn v1 installation
        run: |
          mise i yarn@1
          mise x yarn@1 -- yarn --version | grep -E '^1\.'
      
      # Test latest v1
      - name: Test latest Yarn v1
        run: |
          mise i yarn@1.22.22
          mise x yarn@1.22.22 -- yarn --version | grep -E '^1\.22\.22$'
      
      # Test Yarn v2+ (Berry)
      - name: Test Yarn v2 installation
        run: |
          mise i yarn@2
          mise x yarn@2 -- yarn --version | grep -E '^2\.'
      
      # Test latest Yarn
      - name: Test latest Yarn
        run: |
          mise i yarn@latest
          mise x yarn@latest -- yarn --version
      
      # Test version listing
      - name: Test version listing
        run: |
          # Check that v1 versions appear first
          mise ls-remote yarn | head -1 | grep -E '^1\.'
          # Check that both v1 and v2+ versions are present
          mise ls-remote yarn | grep -E '^1\.22\.22$'
          mise ls-remote yarn | grep -E '^2\.'
          mise ls-remote yarn | grep -E '^3\.'
          mise ls-remote yarn | grep -E '^4\.'